<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English to French Translation</title>
</head>
<body>
    <h1>English to French Translation</h1>
    <form method="post" action="/translate">
        <label for="english" class="form-label">Enter English Text</label>
        <input type="text" name="english" id="english" placeholder="Enter English text" required/>
        <button type="submit">Translate</button>
    </form>
</body>
</html>
