<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>your text   <%= english %></p>
<p>  translated text in french  <%= translatedText %></p>
</body>
</html>